<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>RetroVinyl</title>
  </head>

  <body>
    <header class="header">
      <div class="header-logo">
        <img src="../styles/images/logo.gif" alt="Background" />
      </div>
      <nav class="header-menu">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </nav>
    </header>

    <footer class="footer">
      <div class="header-image">
        <img src="" alt="" />
      </div>
      <nav class="header-menu">
        <ul>
          <li>Home</li>
          <li>About</li>
          <li>Blog</li>
          <li>Contact</li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
