<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Zoé - Musica de Fondo: MTV Unplugged</title>
  </head>

  <body>
    <header class="header">
      <div class="header-logo">
        <h1><a href="/index.html">RetroVinyl</a></h1>
      </div>
      <nav class="header-menu">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>

    <main class="detalles">
      <div class="information">
        <div class="information-left">
          <div class="title">
            <h2>Zoé - Musica de Fondo: MTV Unplugged</h2>
          </div>
          <img src="../styles/images/zoe-mtv.jpg" alt="" />
        </div>

        <div class="information-right">
          <h3 class="price">Precio: $800</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui
            provident quod beatae. Cupiditate animi eos delectus! Odio,
            doloremque repellendus ipsam ullam enim quis minus earum rem
            quibusdam neque ea? Accusantium.
          </p>
          <button class="btn"><a href="/views/compra.html">Comprar</a></button>
        </div>

        <div class="recomendaciones">
          <h2>Recomendaciones</h2>
          <a href="/views/detalles01.html">
            <div class="card">
              <img src="../styles/images/AMY-B2BC.jpg" alt="album" />
              <div class="card-details">
                <h2 class="card-title">Amy Winehouse</h2>
                <h3 class="card-artist">Back to Black</h3>
                <span class="card-price">$800</span>
              </div>
              <button class="card-button">
                <a href="/views/detalles01.html">Ver mas</a>
              </button>
            </div>
          </a>
          <a href="/views/detalles02.html">
            <div class="card">
              <img src="../styles/images/tame-impala.jpg" alt="album" />
              <div class="card-details">
                <h2 class="card-title">The Slow Rush</h2>
                <h3 class="card-artist">Tame Impala</h3>
                <span class="card-price">$1,100</span>
              </div>
              <button class="card-button">
                <a href="/views/detalles02.html">Ver mas</a>
              </button>
            </div>
          </a>
          <a href="/views/detalles03.html">
            <div class="card">
              <img
                src="../styles/images/Caifanes - Nervio del Volcan.jpg"
                alt="album"
              />
              <div class="card-details">
                <h2 class="card-title">Caifanes</h2>
                <h3 class="card-artist">Nervio del Volcan</h3>
                <span class="card-price">$450</span>
              </div>
              <button class="card-button">
                <a href="/views/detalles03.html">Ver mas</a>
              </button>
            </div>
          </a>
        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="header-image">
        <img src="" alt="" />
      </div>
      <nav class="header-menu">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
