<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../font/flaticon.css" />
    <title>Kill Bill 1 OST - Soundtrack</title>
  </head>

  <body>
    <header class="header">
      <div class="header-logo">
        <h1><a href="/index.html">RetroVinyl</a></h1>
      </div>
      <nav class="header-menu">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>

    <main class="detalles">
      <div class="information">
        <div class="information-left">
          <div class="title">
            <h2>Kill Bill 1 OST - Soundtrack</h2>
          </div>
          <img src="../styles/images/kill-bill1.jpg" alt="" />
        </div>

        <div class="information-right">
          <h3 class="price">Precio: $650</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui
            provident quod beatae. Cupiditate animi eos delectus! Odio,
            doloremque repellendus ipsam ullam enim quis minus earum rem
            quibusdam neque ea? Accusantium.
          </p>
          <button class="btn"><a href="/views/compra.html">Comprar</a></button>
        </div>

        <div class="recomendaciones">
          <h2>Recomendaciones</h2>
          <a href="/views/detalles06.html">
            <div class="card">
              <img src="../styles/images/pulp fiction.jpg" alt="album" />
              <div class="card-details">
                <h2 class="card-title">Pulp Fiction OST</h2>
                <h3 class="card-artist">Soundtrack</h3>
                <span class="card-price">$750</span>
              </div>
              <button class="card-button">
                <a href="/views/detalles06.html">Ver mas</a>
              </button>
            </div>
          </a>
          <a href="/views/detalles07.html">
            <div class="card">
              <img
                src="../styles/images/Soda Stereo - Soda Stereo.jpg"
                alt="album"
              />
              <div class="card-details">
                <h2 class="card-title">Soda Stereo</h2>
                <h3 class="card-artist">Soda Stereo</h3>
                <span class="card-price">$600</span>
              </div>
              <button class="card-button">
                <a href="/views/detalles07.html">Ver mas</a>
              </button>
            </div>
          </a>
          <a href="/views/detalles08.html">
            <div class="card">
              <img src="../styles/images/zoe-mtv.jpg" alt="album" />
              <div class="card-details">
                <h2 class="card-title">Musica de Fondo: MTV Unplugged</h2>
                <h3 class="card-artist">Zoé</h3>
                <span class="card-price">$800</span>
              </div>
              <button class="card-button">
                <a href="/views/detalles08.html">Ver mas</a>
              </button>
            </div>
          </a>
        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="footer-icons-container">
        <div class="icons">
          <a href="https://www.facebook.com/Max23Esau" target="_blank"
            ><span class="flaticon-001-facebook"></span
          ></a>
          <a href="https://twitter.com/max23esau" target="_blank"
            ><span class="flaticon-002-twitter"></span
          ></a>
          <a href="https://www.instagram.com/max23esau/" target="_blank"
            ><span class="flaticon-011-instagram"></span
          ></a>
          <a href="/"
            ><span class="flaticon-010-linkedin" target="_blank"></span
          ></a>
          <a href="/"
            ><span class="flaticon-008-youtube" target="_blank"></span
          ></a>
        </div>
      </div>
    </footer>
  </body>
</html>
