@import "./vars.scss";
@import "./mixins.scss";
@import "./components/index";
@import "./components/detalles";

body {
  margin: 0;
  padding: 0;
  color: $color-claro;
  font-family: $font-family;
}

.header {
  width: 100%;
  height: 100px;
  background: $background;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  &-logo {
    margin-left: 50px;
  }
  &-logo img {
    width: 150px;
    height: 80px;
  }
  &-menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 50px;
  }
  &-menu li {
    margin: 0 40px;
    list-style: none;
    & a {
      text-decoration: none;
      color: $color-claro;
    }
  }
}

.footer {
  width: 100%;
  height: 100px;
  background: $background;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
}
