@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap");

$font-family: "Oswald", sans-serif;

$background: #1b1b1b;
$color-oscuro: #121212;
$color-claro: white;
$background-btn: #ae1f18;
